.wip {
  margin-top: 10px;
  color: #F63073;
}

.wip pre {
  color: #F63073;
  font-weight: bold;
}

body {
  overflow-x: hidden;
  padding-top: 80px;
  background-color: #272822;
  color: #bababa;
  position: relative;
  max-width: 100%;
}

html {
  overflow-x: hidden;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #eee;
}

pre, #projects-terminal {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  background: #343434; /* Old browsers */
  border: 1px solid #1E1E1E;
  color: #CFCFC3;
  opacity: 0.9;
}

hr {
  border: 0px;
  border-bottom: 1px solid #444;
  border-top: 1px solid #111;
  margin-bottom: 40px;
  margin-top: 40px;
}

.terminal {
  margin-top: 12px;
  width: 290px;
  padding: 10px;
  line-height: 1.7em;
}

.first {
  margin-top: 0px;
}

.prompt {
  color: #999;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.blinking {
  display: inline-block;
  width: 6px;
  height: 14px;
  position: relative;
  top: 2px;
  left: 1px;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

.btn-default {
  background: none;
  border: 1px solid #EEEEEE;
  color: #EEEEEE;
  font-weight: normal;
  padding: 7px 12px;
}

@keyframes "blink" {
  from,to {
  background-color: transparent;
}
 50% {
  background-color: #CFCFC3;
 }

}

@-moz-keyframes blink {
  from,to {
  background-color: transparent;
}
 50% {
   background-color: #CFCFC3;
 }

}

@-webkit-keyframes "blink" {
  from,to {
  background-color: transparent;
}
 50% {
   background-color: #CFCFC3;
 }

}

@-ms-keyframes "blink" {
  from,to {
  background-color: transparent;
}
 50% {
   background-color: #CFCFC3;
 }

}

@-o-keyframes "blink" {
  from,to {
  background-color: transparent;
}
 50% {
   background-color: #CFCFC3;
 }
}

.center-block {
  margin: auto;
}

.cd-timeline-content {
  padding: 0px;
  background-color: transparent;
  border: 0px;
  box-shadow: 0 0 0 0;
}

#cd-timeline {
  margin-top: 0px;
}

#log-terminal {
  margin-bottom: 0px;
  border-color: #E18944;
  width: auto;
}

.active {
  font-weight: bold;
  color: #CC7F46;
}

#projects-terminal .nav a{
  padding: 0px;
  color: inherit;
}

#projects-terminal .nav a:hover{
  background-color: #262722;
  text-decoration: none;
}

iframe {
  display: inline-block;
}

#news {
  font-size: 18px;
}

#projects {
  font-size: 18px;
}

.media {
  white-space: nowrap;
  overflow-x: scroll;
}


.media img {
  width: auto;
}

.navbar {
  background-color: #444444;
  border: 0px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #fff;
  text-decoration: none;
}

.navbar-nav {
  margin:0;
}
.navbar-nav > li {
  float:none;
    display:inline-block;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-nav > li.open > ul.dropdown-menu {
  position: absolute;
  border: 1px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

a {
  color: #e76f51;
  }
  a:focus{
    color: #f4a261;
    text-decoration: none;
  }
  a:active{
    color: #f4a261;
    text-decoration: none;
  }
  a:hover {
  color: #f4a261;
  text-decoration: none;
  /* border-bottom: 1px dashed #f4a261;*/
  }

.lowkey { color: #a1a1a1; font-style: italic; text-decoration: none; font-size: 18px; pointer-events: none; }
